In [ ]:
print('hello world')

hello world

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
678*8

5424

In [ ]:
type(1000)

int

In [ ]:
type(10.0)

float

In [ ]:
type('ganesha')

str

In [ ]:
type(False)

bool

In [ ]:
_num= 34
ename= "rishu"
esal=10000
print("The employee number is",_num)
print("her name is",ename)
print("her salary is",10000)

The employee number is 34
her name is rishu
her salary is 10000

In [ ]:
a=int(input("enter a value:"))
b=int(input("enter a value:"))
print(type(a))
print(type(b))
print(a+b)

enter a value:120
enter a value:300
<class 'int'>
<class 'int'>
420

In [ ]:
_num= int(input("enter emplyee number:"))
ename=input("enter employee name:")
esal=float(input("enter emplyee salary:"))
print("The employee number is",_num)
print("her name is",ename)
print("her salary is",esal)

enter emplyee number:12
enter employee name:rishu
enter emplyee salary:100.0
The employee number is 12
her name is rishu
her salary is 100.0

In [ ]:
#write a python program to enter radius of cicrcle and find the area?

radius=int(input("Enter the radius of circle:"))
pi=3.14
area=pi*radius*radius
print("the area of circle is",area)

Enter the radius of circle:2
the area of circle is 12.56

In [ ]:
#write a python program find the area and circumference of rectangle?
length=int(input("enter the length of rectangle:"))
breadth=int(input("enter the breadth of rectangle:"))
area=length*breadth
circumference=2*length+breadth
print("the area of the rectangle is:",area)
print("the circumference of the rectangle is:",circumference)

enter the length of rectangle:12
enter the breadth of rectangle:15
the area of the rectangle is: 180
the circumference of the rectangle is: 39

In [ ]:
#write a python program to check whether the person is eligible for voting or not?

age=int(input("age of the person"))
if age>=18:
  print("eligible for voting")
else:
  print("not eligible for voting")

age of the person12
not eligible for voting

In [ ]:
#write pp to check the given number is positive or negative or zero?
number=int(input())
if number>0:
  print("positive")
elif number<0:
  print("negative")
else:
  print("zero")

4
positive

In [ ]:
#check weather the given number is odd or even?
num=int(input("enter a number"))
print()

SyntaxError: invalid syntax (ipython-input-2594590461.py, line 3)

In [ ]:
#accept the marks of the students
#excellent for above 90
#good for marks blw 70 and 90
#avg for marks blw 50 and 70
# fail for below 50

marks=int(input("enter the marks"))
if marks>=90:
  print("{excellent}")
elif marks>=70 and marks<90:
  print("good")
elif marks>=50 and marks<70:
  print("avg")
else:
  print("fail")

enter the marks70
good

In [ ]:
from typing import dataclass_transform
#accept employee basic salary and find gross salary
basic=int(input("enter the basic salary"))
if basic<=10000:
  print()     #HRA is 70% on basic, DA is 56% on basic
  hra= 70*basic
  da=56*basic
elif basic<=20000:
  print()     # HRA is 73% and DA is 60% on basic
  hra=73*basic
  da=60*basic
else:
  print()     #HRA is 80% and DA is 66% on basic
  hra=80*basic
  da=56*basic

gs=basic+hra+da
print("the gross salary is",gs)
print("the hra is",hra)
print("the da is",da)

enter the basic salary10000

the gross salary is 1270000
the hra is 700000
the da is 560000

In [ ]:
#accept employee basic salary and find gross salary
basic=int(input("enter the basic salary"))
if basic<=10000:
  print()     #HRA is 70% on basic, DA is 56% on basic
  hra= (basic/100)*70
  da=(basic/100)*56
elif basic<=20000:
  print()     # HRA is 73% and DA is 60% on basic
  hra=(basic/100)*73
  da=(basic/100)*60
else:
  print()     #HRA is 80% and DA is 66% on basic
  hra=(basic/100)*80
  da=(basic/100)*66

gs=basic+hra+da
print("the gross salary is",gs)
print("the hra is",hra)
print("the da is",da)

enter the basic salary15000

the gross salary is 34950.0
the hra is 10950.0
the da is 9000.0

In [ ]:
#accept username and passwrod and display, check weather valid or invalid
username=input("enter the username:")
password=input("enter the password:")
if username=="ganesha" :
  if password=="ganesha123" :
     print("valid")
else:
     print("invalid")

enter the username:ganesha
enter the password:ganesha123
valid

In [ ]:
#ATM SBI: withdrawn amount is 10000
#the ATM has 500, 200, 100 notes.
10000
7800-->15-500-->7500=1-200=1-100
400--> 2-200
1000--> 500-2
#accept withdrawn amount and print number of notes.
sample input: 7800
expected output: 15-500, 1-200, 1-100

SyntaxError: invalid syntax (ipython-input-13810076.py, line 4)

In [26]:
amount=int(input("enter the amount"))
five=0
two=0
one=0
if amount%100==0:
   if amount>=500:
    five=amount//500
    amount=amount%500
    print("500 ------",five)
if amount>=200:
  two=amount//200
  amount=amount-(two*200)
  print("200 ------",two)
if amount>=100:
  one=amount//100
  amount=amount-(one*100)
  print("100 ------",one)

enter the amount1800
500 ------ 3
200 ------ 1
100 ------ 1

In [ ]:
project=int(input("enter the project marks"))
internal=int(input("enter the internal marks"))
external=int(input("enter the external marks"))
marks=(project*70/100)+(internal*10/100)+(external*20/100)
if project>=50:
  if internal>=50:
    if external>=50:
      marks=int(input("enter the marks"))
print("A grade")
if marks>70 and marks<90:
  print("B grade")
if marks >50 and marks<70:
  print("C grade")
m=external+internal+project
print("the total score is",marks)

enter the project marks70
enter the internal marks76
enter the external marks45
A grade
C grade
the total score is 65.6

In [ ]:
#loops
#accept start and stop value and print b/w values
start: 10
stop: 100
o/p: 10 11 12...99

start: 100
stop: 10
o/p: 100 99 98 97...10

start: 10
stop: 10
o/p: your start and stop values are same

SyntaxError: illegal target for annotation (ipython-input-2191256050.py, line 5)

In [ ]:
start = int(input("enter the start value"))
stop = int(input("enter the stop value"))
if start<stop:
   for i in range(start,stop):
    print(i,end=" ")
elif start>stop:
  for i in range(stop,start/-1):
    print(i,end=" ")
else:
  print("your start and stop values are same")

enter the start value10
enter the stop value20
10 11 12 13 14 15 16 17 18 19

In [ ]:
# Write a program to print factors of a given number
# Write a program to print count of factors of a given number
# Write a program to check given number is prime or not
# Write a program to check given number is perfect number or not
# Write a program to display the number in reverse order
# Write a program to check given number is palindrom number or not

In [ ]:
# Write a program to print factors of a given number
# 10--> 1 2 5
#50--> 1 2 5 10 25
num=int(input("enter your number to print factors"))
for i in range(1, (num//2)+1):
  if num%i==0:
    print(i,end=" ")

enter your number to print factors80
1 2 4 5 8 10 16 20 40

In [ ]:
# Write a program to print count of factors of a given number
count=0
num=int(input("Enter your number to print count of factors :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

print("number of factors: ",count)

Enter your number to print count of factors :40
number of factors:  7

In [ ]:
# Write a program to check given number is prime or not
# 2 3 5 7 11 13 17 19....
count=0
num=int(input("Enter your number to check wheather it is prime or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

if count==1:
    print(num," is a prime number")
else:
    print(num," is not a prime number")

Enter your number to check wheather it is prime or not :24
24  is not a prime number

In [ ]:
# Write a program to check given number is perfect number or not
# 6      :  1+2+3  ==6
# 28     : 1+2+4+7+14===28
# 10     : 1+2+5  ===> 8

sum=0
num=int(input("Enter your number to check it is perfect number or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        sum=sum+i

if sum==num:
    print(num," is perfect number")
else:
    print(num," is not a perfect number")

Enter your number to check it is perfect number or not :496
496  is perfect number

In [ ]:
for i in range(0,5):
    for j in range(0,5):
        print("Hi", end=" ")
    print()

Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi

In [ ]:
for i in range(0,5):
    for j in range(0,i+1):
        print("rishu", end=" ")
    print()

rishu
rishu rishu
rishu rishu rishu
rishu rishu rishu rishu
rishu rishu rishu rishu rishu

In [ ]:
for row in range(0,6):
    for col in range(0,7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print(" * ",end=" ")
        else:
            print(" ", end="  ")
    print(" ")

    *   *      *   *
 *         *         *
 *                  *
    *            *
       *      *
          *

In [ ]:
# While loop:
# Write a program to find number of digits in a given number
# Write a program to display the number in reverse order
# Write a program to check given number is palindrom number or not

In [ ]:
#while loop:

num=1
while num<=10:
  print("hi",end=" ")
  num=num+2

hi hi hi hi hi

In [ ]:
#input: 5235
#op=4
num=65747
count=0
while num!=0:
  num=num//10
  count=count+1
print("number of digits :", count)

number of digits : 5

In [ ]:
num=76719
rev=0
while num!=0:            # 6!=0
    rem=num%10               # 6%10   =6
    rev=rev*10+rem       #4236
    num=num//10              # 6//10  6
print("reverse number: ",rev)

reverse number:  91767

In [ ]:
x=67, "abc", 7.9,False
type(x)

tuple

In [ ]:
list
tuple
set
dict

In [ ]:
m=65,45.0,"tanisha",True
type(m)

tuple

In [ ]:
Indexable
Iterable
immutable

NameError: name 'Indexable' is not defined

In [ ]:
m=9,"what",8.0,"you"
m(1)

TypeError: 'tuple' object is not callable

In [ ]:
age=(56,18,19,20,4)
for i in age:
 if i>=18:
  print("eligible:",i)
else:
  print("not eligible:",i)

eligible: 56
eligible: 18
eligible: 19
eligible: 20
not eligible: 4

In [ ]:
age=(30, 20, 10)
age.index(30)

0

In [ ]:
salary=(20,10,30,50,60)
salary

(20, 10, 30, 50, 60)

In [ ]:
type(salary)

tuple

In [ ]:
salary=[10,30,20,40,50,60]
salary.remove(30)
print(salary)

[10, 20, 40, 50, 60]

In [ ]:
salary=[10,20,30,40]
salary.append(300)
print(salary)

[10, 20, 30, 40, 300]

In [ ]:
salary=[10,20,20,30,40]
salary.insert(5,500)
print(salary)

[10, 20, 20, 30, 40, 500]

In [ ]:
salary=[10,20,40,60,700]
salary.pop(4)
print(salary)

[10, 20, 40, 60]

In [ ]:
data=[90,80,60,70,30,40]
data.sort()
print(data)

[30, 40, 60, 70, 80, 90]

In [ ]:
data.reverse()
print(data)

[90, 80, 70, 60, 40, 30]

In [ ]:
#Fucntion: fuction is a group of statements which returns some result.

#1. Function with paramenters and without return value
#2. Function with paramenters and with return value
#3. Function without paramenters and without return value
#4. Function without paramenters and with return value

def isPrime1(num):
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True

b=isPrime1(2)
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Not a prime number

In [ ]:
def isPrime1(num):
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True
    return a

b=isPrime1(2)
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Prime number

In [ ]:
#3. Function without paramenters and without return value
def isPrime():
    num=int(input("Enter your number :"))
    count=0
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
        print(num," is a prime number")
    else:
        print(num," is not a prime number")

isPrime()

Enter your number :79
79  is a prime number

In [ ]:
# 4. Function without paramenters and wit return value
def isPrime1():
    num=int(input("Enter your number"))
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True
    return a

b=isPrime1()
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Enter your number15
Not a prime number

In [ ]:
def viewPrograms():
    print("1. Prime number program")
    print("2. Reverse of a given number")
    print("3. Print factors of a given number")
    option=int(input("Choose your option: "))
    if option==1:
        isPrime()
    elif option==2:
        reverseNumber()
    elif option==3:
        factors()
    else:
        print("Please select 1 to 3")
def isPrime():
    print("Prime number program")
def reverseNumber():
    print("Reverse number code")
def factors():
    print("Factors code")

viewPrograms()

1. Prime number program
2. Reverse of a given number
3. Print factors of a given number
Choose your option: 7
Please select 1 to 3

In [3]:
class ATM:
    acbal=10000
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        self.acbal=self.acbal+amt
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()


obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :10000
Avaliable bal is:  20000

In [5]:
class ATM:
    acbal=10000
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
           self.acbal=self.acbal+amt
        else:
          print("please enter amount in multiple of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()


obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :10000
Avaliable bal is:  20000

In [9]:
class ATM:
    acbal=10000
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()


obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :51000
Transaction limit is 50k only
Avaliable bal is:  10000

In [19]:
class ATM:
    acbal=10000
    def withdraw(self):
        # accept amount
        # amount should be multiples of 100
        # withdraw amount should be less than acbal
        # transaction limit is 20k
        pass #added pass statement to satisfy indentation
    def deposit(self):
        amt=int(input("Enter your deposit amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()


obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposit amount :100000
Transaction limit is 50k only
Avaliable bal is:  10000

In [21]:
class ATM:
    acbal=10000
    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 100000
Insuffcient fund

In [25]:
class ATM:
    acbal=10000
    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    print("avaliable bal is:",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()


obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 200
avaliable bal is: 9800

In [28]:
class ATM:
    acbal=10000
    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    print("avaliable bal is:",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()


obj=ATM()
obj.viewOptions()

amount=int(input("enter the amount"))
five=0
two=0
one=0
if amount%100==0:
   if amount>=500:
    five=amount//500
    amount=amount%500
    print("500 ------",five)
if amount>=200:
  two=amount//200
  amount=amount-(two*200)
  print("200 ------",two)
if amount>=100:
  one=amount//100
  amount=amount-(one*100)
  print("100 ------",one)

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 1800
avaliable bal is: 8200
enter the amount1800
500 ------ 3
200 ------ 1
100 ------ 1

In [29]:
class ATM:
    acbal=10000
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 200
200 rupees notes are :  1
Avaliable bal is:  9800

In [30]:
class ATM:
    acbal=10000
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 1800
500 rupees notes are :  3
200 rupees notes are :  1
100 rupees notes are   1
Avaliable bal is:  8200

In [31]:
class ATM:
    acbal=10000
    def continue1(self):
        value=int(input("1 for continue and 0 for EXIT"))
        if value==1:
            obj.viewOptions()
        else:
            print("Thank you, Visit again")
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
            obj.continue1()
        elif option==2:
            obj.withdraw()
            obj.continue1()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
            obj.continue1()
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 300
200 rupees notes are :  1
100 rupees notes are   1
Avaliable bal is:  9700
1 for continue and 0 for EXIT1
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 900
500 rupees notes are :  1
200 rupees notes are :  2
Avaliable bal is:  8800
1 for continue and 0 for EXIT0
Thank you, Visit again

In [ ]:
class ATM:
    acbal=10000
    def continue1(self):
        value=int(input("1 for continue and 0 for EXIT"))
        if value==1:
            obj.viewOptions()
        else:
            print("Thank you, Visit again")
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
            obj.continue1()
        elif option==2:
            obj.withdraw()
            obj.continue1()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
            obj.continue1()
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.viewOptions()